<%- include('partials/_header') %>
    <h1>Todos</h1>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Todo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(let i=0;i<data.length;i++) { %>
                                <tr>
                                    <td>
                                        <%= (i + 1) %>
                                    </td>
                                    <td>
                                        <%= data[i].todo %>
                                    </td>
                                    <td>
                                        <a href="/edit/<%= data[i].id %>" class="btn btn-info">EDIT</a>
                                    </td>
                                    <td>
                                        <form action="/delete/<%= data[i].id %>" method="POST">
                                            <input type="hidden" name="_method" value="DELETE" />
                                            <button type="submit" class="btn btn-danger">DELETE</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="todo" placeholder="Todo" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                SAVE TODO
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/_footer') %>